<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/search}" th:object="${searchRequest}" method="post">
        <div class="form-group">
            <label for="startUrlInput">Root url to start scan from</label>
            <input type="text" th:field="*{startUrl}" class="form-control" id="startUrlInput"
                   placeholder="Enter url, e.g. https://edition.cnn.com/">
            <div class="text-danger">
            <td th:if="${#fields.hasErrors('startUrl')}" th:errors="*{startUrl}"></td>
            </div>
        </div>
        <div class="form-group">
            <label for="searchTextInput">Text to search</label>
            <input type="text" th:field="*{searchedText}" class="form-control" id="searchTextInput"
                   placeholder="Enter search text, e.g. 'Europe'">
            <div class="text-danger">
            <td th:if="${#fields.hasErrors('searchedText')}" th:errors="*{searchedText}"></td>
            </div>
        </div>
        <div class="form-group">
            <label for="downloadThreadCountInput">Download thread count</label>
            <input type="text" th:field="*{threadCount}" class="form-control" id="downloadThreadCountInput"
                   placeholder="Enter thread count, e.g. 4">
            <div class="text-danger">
            <td th:if="${#fields.hasErrors('threadCount')}" th:errors="*{threadCount}">/td>
            </div>
        </div>
        <div class="form-group">
            <label for="maxScannedUrlInput">Maximum amount of scanned urls</label>
            <input type="text" th:field="*{maxScannedUrls}" class="form-control" id="maxScannedUrlInput"
                   placeholder="Maximum scanned urls, e.g. 15">
            <div class="text-danger">
            <td th:if="${#fields.hasErrors('maxUrlCount')}" th:errors="*{maxScannedUrls}"></td>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </p>
    </form>
</div>
</body>
</html>